<div class="space-y-6 flex flex-col w-full animate-fade-in">
    <div class="bg-white dark:bg-slate-800 p-5 rounded-xl shadow-sm border border-slate-100 dark:border-slate-700">
        <h3 class="font-bold mb-4">Daftar Tugas Saya</h3>
        <ul id="task-list" class="space-y-3">
            <div class="p-6 text-center text-slate-400 font-medium animate-pulse border border-slate-200 dark:border-slate-700 border-dashed rounded-xl"><i class="fa-solid fa-spinner fa-spin mr-2 text-primary"></i> Memuat daftar tugas...</div>
        </ul>
    </div>
</div>